*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: justify;
}

body,
html,
#root {
    width: 100%;
    min-height: 100vh;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: canvastext;
}

button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

img,
svg {
    display: block;
}

input {
    outline: none;
    border: none;
}